include mixins

extends layout

block content
  +bootswatch("cyborg")
  +nav("PlayToy", "navMenu", "inverse")
    +nav_item("/") Home
    +nav_item("#", "active") Bay Window
    +nav_item("box") Box
    +nav_item("garden") Garden


  p These are the plants in the bay window
  