include mixins

extends layout

block content
  +bootswatch("cyborg")
  +nav("PlayToy", "navMenu", "inverse")
    +nav_item("/") Home
    +nav_item("#", "active") Bay Window
    +nav_item("box") Box
    +nav_item("garden") Garden


  p The bay window in the house has a great sun as it is South facing.  The following plants are being grown there.
  p
  p
  +listGroup("list")
    +listItem Arugula
    +listItem Basil
    +listItem Cherry Tomatoes (3 plants)
    +listItem Chives
    +listItem Oregano
    +listItem Parsley

