include mixins

extends layout

block content
  +bootswatch("cyborg")
  +nav("PlayToy", "navMenu", "inverse")
    +nav_item("/") Home
    +nav_item("bay") Bay Window
    +nav_item("#", "active") Box
    +nav_item("garden") Garden


  p During my project to start learning about growing vegetables, I made a 3' x 5' and 5' tall indoor grow box with the help of a wonderful friend.  Painted it flat white.  There is a 600 watt HPS light with a hood.  Wired an old computer fan on the timer to create some circulation.

  The following is the list of the current plants being grown in the box:
  p
  p
  +listGroup("list")
    +listItem Tomatoes (2 plants)
    +listItem Basil
    +listItem Cherry Tomatoes
    +listItem Jalapeno (2 plants)
    +listItem Yolo Bell Peppers (2 plants)

  p
  p
  I'm also transplanting lettuce that I grew from seeds before they can be hardened and potted outside.
  p
  +listGroup("list")
    +listItem 4" transplant of Romaine Lettuce (5 pots)
    +listItem 4" transplant of Butterhead Lettuce (5 pots)