include mixins

extends layout

block content
  +bootswatch("cyborg")
  +nav("PlayToy", "navMenu", "inverse")
    +nav_item("/") Home
    +nav_item("box") Box
    +nav_item("#", "active") Garden

  p This is for the garden and all my plants.