include mixins

extends layout

block content
  +bootswatch("cyborg")
  +nav("PlayToy", "navMenu", "inverse")
    +nav_item("/") Home
    +nav_item("bay") Bay Window
    +nav_item("box") Box
    +nav_item("#", "active") Garden


  p The garden will all begin in the near future with the first batch of lettuce.  They will be grown in fabric bags above the pool so there is shelter from the sun in the late afternoon.  The plan is to plant three lettuce transplants each into 15 gallon bags.  This will be cheaper than purchasing the larger big bag fabric pot as it takes to much soil.
  p
  p In the Spring, I will be growning the following plants:
  p
  +listGroup("list")
    +listItem Strawberries
    +listItem Jalapenos
    +listItem Bell Peppers
    +listItem Tomatoes
    +listItem Zucchini
    +listItem Cucumbers
    +listItem Green Onions
    +listItem Cantelope or Watermelon
    