include mixins

extends layout

block content
  +bootswatch("cyborg")
  +nav("PlayToy", "navMenu", "inverse")
    +nav_item("#", "active") Home
    +nav_item("bay") Bay Window
    +nav_item("box") Box
    +nav_item("garden") Garden
    +nav_item("planning") Planning

  .jumbotron
    h1 Learning to grow vegetables
    p In the late fall of 2016, I wanted to start growing vegetables from seed.  This would bring me back to my roots of growing up on a ranch/farm.  It also is a wonderful balance to the high stress of work and life.  Furthermore, there is a tie to learning about the Raspberry Pi and using new sensors.  
    p 
    p The site is running on the Raspberry Pi with Node.js and Express/Jade templating framework.  Also integrated is Bootstrap from twitter.  The backend db will be MongoDB where the sensor data will be stored.
  p
  .row
    .col-md-3
      h3 Bay Window
      p This is the fun herb garden and tomatoes in the South facing bay window.
      p
      +button("primary", "bay") View Details
    .col-md-3
      h3 Box
      p My start to learning how to grow vegetables in an indoor grow box with HPS light.
      p
      +button("primary", "box") View Details
    .col-md-3
      h3 Garden
      p Very excited to start the garden in the Spring.
      p
      +button("primary", "garden") View Details
    .col-md-3
      h3 Planning
      p Info on planting a garden
      p
      +button("primary", "planning") View Details
