include mixins

extends layout

block content
  +bootswatch("cyborg")
  +nav("PlayToy", "navMenu", "inverse")
    +nav_item("#", "active") Home
    +nav_item("bay") Bay Window
    +nav_item("box") Box
    +nav_item("garden") Garden

  .jumbotron
  h1 Learning to grow vegetables
  p This project is dedicated to learning about the Raspberry Pi and using new sensors.  It will be focused on an indoor and outdoor plant growth from seeds
  p
  p
  .row
    .col-md-4
      p Hello
    .col-md-4
      p fun
    .col-md-4
      p day
