include mixins

extends layout

block content
  +bootswatch("cyborg")
  +nav("PlayToy", "navMenu", "inverse")
    +nav_item("#", "active") Home
    +nav_item("box.jade") Box
    +nav_item("garden.jade") Garden

  p This project is dedicated to learning about the Raspberry Pi and using new sensors.  It will be focused on an indoor and outdoor plant growth from seeds
  p
  +panel("Panel Heading") We are a fairly small, flexible design studio that designs for print and web. We work flexibly with clients to fulfil their design needs. Whether you need to create a brand from scratch, including marketing materials and a beautiful and functional website or whether you are looking for a design refresh we are confident you will be pleased with the results.
