include mixins

extends layout

block content
  +bootswatch("cyborg")
  +nav("PlayToy", "navMenu", "inverse")
    +nav_item("/") Home
    +nav_item("#") Bay Window
    +nav_item("box") Box
    +nav_item("garden") Garden
    +nav_item("planning", "active") Planning


  h3 Pot Sizes
  p  4" pot= pint (0.5 quart)
  p  5-6" pot = quart (0.25 gallon)
  p  7-8" pot= 1 gallon
  p  8.5" pot = 2 gallon
  p  10" pot = 3 gallon
  p  12" pot = 5 gallon
  p  14" pot= 7 gallon
  p  16" pot= 10 gallon
  p  18" pot = 15 gallon
  p  24" pot = 25 gal
  p  30" pot= 30 gal