include mixins

extends layout

block content
  +bootswatch("cyborg")
  +nav("PlayToy", "navMenu", "inverse")
    +nav_item("/") Home
    +nav_item("#") Bay Window
    +nav_item("box") Box
    +nav_item("garden") Garden
    +nav_item("planning", "active") Planning


  p Pot Sizes
    4" pot= pint (0.5 quart)
    5-6" pot = quart (0.25 gallon)
    7-8" pot= 1 gallon
    8.5" pot = 2 gallon
    10" pot = 3 gallon
    12" pot = 5 gallon
    14" pot= 7 gallon
    16" pot= 10 gallon
    18" pot = 15 gallon
    24" pot = 25 gal
    30" pot= 30 gal
  

